
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card strpied-tabled-with-hover">
                                <div class="card-header ">
                                    <h4 class="card-title">All Reports</h4>
                                    <p class="card-category">List of all events from various sources of information.</p>
                                </div>
                                <div class="card-body table-full-width table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                            <th>ID</th>
                                            <th>Reported By</th>
                                            <th>Animal name</th>
                                            <th>Incident Type</th>
                                            <th>Situation Type</th>
                                            <th>Location</th>
                                            <th>Date and Time</th>
                                        </thead>
                                        <tbody>
                                            
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
